// Place all the styles related to the profile/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner-user {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #F4F4F4;
}

.banner-content {
  left: 50%;

}


