<div id="mymodal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Orçamento</h5>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-user">Enviar e-mail</button>
        <button type="button" class="btn btn-secondary close-orçamento" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
