<div class="footer-global">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 footer-company">
          <h3>
            MakeYourMake
          </h3>
        </div>
        <div class="col-xs-12 col-md-4 footer-social">
          <h3>
            Segue a gente
          </h3>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>

        </div>
        <div class="col-xs-12 col-md-4 footer-navegation">

        </div>
      </div>
    </div>
  </div>
  <div class="firm">

  </div>
</div>
