
<nav class="navbar navbar-default color-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MakeYourMake</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make Dia <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Make preta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make colorida</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make artistica</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make Noite <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Make preta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make colorida</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make artistica</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maquiagem <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Lábios</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Olhos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Rosto</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Unhas</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-color">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o color-items" aria-hidden="true"></i> Entrar / Cadastrar <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><button type="button" class="btn btn-danger">Cadastrar</button></li>
            <li role="separator" class="divider"></li>
            <button type="button" class="btn btn-danger">Entrar</button>
            <li role="separator" class="divider"></li>
            <button type="button" class="btn btn-primary">Entrar com o Facebook</button>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



