.make-card {
  position: relative;
  height: 520px;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px #d8d8d8;

  .parent-img {
    width: 100%;
    height: 450px;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    &:hover .make-img,
    &:focus .make-img {
      transform: scale(1.1);
      opacity: .8;
    }

    .make-img {
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .2s ease-in-out;
    }
  }

  .make-content {
    height: 70px;

    .make-content-text {
      flex-grow: 1;
      margin-left: 20px;

      h4 {
        margin-bottom: 3px;
      }

      p {
        font-weight: lighter;
      }
    }

    a {
      margin-right: 20px;

      i {
        font-size: 25px;
        color: #8F003A;
        transition: all .2s ease;

        &:hover {
          font-size: 34px;
        }
      }
    }
  }
}
