.make-card {
  position: relative;
  height: 463px;
  width: 350px;
  margin-top: 15px;
  border-radius: 7px 7px 0 0;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 0.5px solid #ccc;
  .make-img {
    width: 100%;
    height: 350px;
    border-radius: 7px 7px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    cursor: pointer;

  }


  .make-content {
    height: 113px;

    .make-content-text {
      flex-grow: 1;
      margin-left: 20px;
      color: #00040A;

      h4 {
        margin-bottom: 3px;
      }

      p {
        font-weight: lighter;
        a {
          text-decoration: none;
          color: #00040A;
        }
      }
    }

    a {
      margin-right: 20px;

      i {
        font-size: 25px;
        color: #AE0014;
        transition: all .2s ease;

        &:hover {
          font-size: 34px;
        }
      }
    }
  }
}

.mini-card-information {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  color: rgb(51, 51, 51);
  background-color: white;
}

.card-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-counting {
  margin-left: 20px;
}

.likes-counting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .likes-counting-number {
    margin-left: 4px;
  }

}

