.user-attributes-wrapper {
  background-color: white;
  margin-top: -20px;

  .user-attributes-inner-wrapper {

    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 100%;
  }
}

.user-attributes-wrapper-sessions-new {
  background-color: white;
  margin-top: -20px;

  .user-attributes-inner-wrapper-sessions-new {

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 68vh;
  }
}



.login-button {
  width: 100%;
  background-color: #00040A;
  color: white;
  transition: 0.7s;
}


.access-links {
  margin: 20px;
}


