body {
  background-color: #F4F4F4;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}


// Global media queries

// Extra extra small devices (xxs)
@media only screen and (max-width: 571px) {
  .hidden-xxs {
    display: none;
  }
}
