.results-wrapper {
  margin-top: -20px;
}

.form-group {
  width: 320px;
  color: rgb(0, 4, 10);
  input {
    width: inherit;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 571px) {
  .form-group {
  width: 95%;
  color: rgb(0, 4, 10);
    input {
      width: inherit;
      margin-left: 5px;
    }
  }
}


.navbar-form {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
