.mail-total {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.mailbox {
  width: 80%;
}

.mail-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 0.4px solid gray;
  border-radius: 5px;
  background-color: white;
  &:hover {
    background-color: rgba(143, 0, 58, 0.2);
    text-decoration: none;
    color: white;
  }
}

.chat-answer {
  font-weight: lighter;
  color: gray;
}
