.mailbox {
  margin: 20px;
}

.mail-item {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: black;
  border: 0.4px solid gray;
  border-radius: 5px;
  background-color: white;
  &:hover {
    background-color: rgba(143, 0, 58, 0.2);
    text-decoration: none;
    color: white;
  }
}

.answers {
  text-align: center;
}

.answer {
  font-weight: lighter;
  color: gray;
}

.answer-unread {
  font-weight: bold;
  color: rgba(143, 0, 58, 0.8);
}


.mailbox-title {
  margin: 15px;
  text-align: center;
  color: rgb(143, 0, 58);
}

.chat-time {
  text-align: right;
}


.chat-total {
  background-color: #F4F4F4;
}

.balloon {
  padding: 10px;
  line-break: break-all;
  display: block;
  min-width: 150px;
  border-top: solid 1px rgba(48, 0, 18, 0.5)
}



.balloon-time {
  font-weight: lighter;
  font-size: 13px;
  text-align: right;
}

.chat-content {
  padding-top: 20px;
  line-height: 20px;
  font-size: 14px;
}

.chat-identification {
  word-spacing: 10px;
}

.chat-title {
  text-align: center;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: rgb(143, 0, 58);
  &:hover {
    color: rgb(143, 0, 58);
  }
}

.submit-chat {
  text-align: center;
  padding: 30px;
  word-spacing: 20px;
  color: rgb(143, 0, 58);
  a {
    color: rgb(143, 0, 58);
    text-decoration: none;
  }
}


input#two{
  background:none;
  border:none;
}

.first-message {
  text-align: center;
  padding: 10px;
}
