// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-nav {
  height: 500px;
  overflow-y: scroll;
}

.show-review {
  overflow-y: scroll;
  height: 300px;
}
