.categories-wrapper {
  padding-top: 20px;
  li {
    padding-right: 5px;

    a {
      color: #777;
      text-decoration: none;

      &:hover {
        color: #8F003A;
      }
    }
  }

  .active {
    color: #8F003A;
    font-weight: 600;
  }
}

.makes-wrapper {
  background-color: #F4F4F4;
  padding-bottom: 20px;
  .list-group {
    margin-top: 15px;
    position: fixed;
  }
}

.pagination-links {
  text-align: center;
}
