.categories-wrapper {
  li {
    padding-right: 5px;

    a {
      color: #777;
      text-decoration: none;

      &:hover {
        color: #8F003A;
      }
    }
  }

  .active {
    color: #8F003A;
    font-weight: 600;
  }
}

.makes-wrapper {
  .list-group {
    margin-top: 15px;
    position: fixed;
  }
}
