.categories-wrapper {
  background-color: white;
  padding-top: 20px;
  li {
    padding-right: 5px;

    a {
      color: #00040A;
      text-decoration: none;

      &:hover {
        color: rgb(222, 92, 176);
        font-weight: bold;
      }
    }
  }

  .active {
    color: #00040A;
    font-weight: 600;
  }
}

.makes-wrapper {
  background-color: white;
  padding-bottom: 20px;
  .list-group {
    margin-top: 15px;
    position: fixed;
  }
}

.pagination-links {
  padding-top: 20px;
  text-align: center;
}

.makes-cards {
  display: flex;
  justify-content: center;
}
