<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos comunicando você para notificá-lo que seu e-mail está sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos comunicando você para nnotificá-lo que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>



