<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou a redefinição da sua senha.</p>
<p>Clique no link abaixo e siga para a página de redefinição de senha onde poderá alterá-la e acessar sua conta novamente.</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha solicitado esta ação, ignore esta mensagem.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar um novo.</p>



