<div class="banner-user">
  <div class="banner-content">
    <div class="banner-user-description">
      <%= @user.artistic_name %>
    </div>
    <div class="btn btn-primary btn-user">
        Peça seu orçamento
    </div>
  </div>
</div>
